html,
body {
    height: 100%;
    background-color: #eee;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
/*    text-align: center;*/
    background-color: transparent;
}

.th-jumbotron {
    background-color: white;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/*****Grid View*****/
.grid-view
{
    padding: 15px 0;
}
.grid-view table th, .grid-view table td
{
    font-size: 0.9em;
    border: 1px white solid;
    padding: 0.3em;
    border-radius: 6px;
    height: 40px;
}
.grid-view table th
{
    color: #fff;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
    background: #ff9251;
    text-align: center;
}
.grid-view table th a
{
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}
.grid-view table th a:hover
{
    color: #FFF;
}

.grid-view table th a.asc, .grid-view table th a.desc
{
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 5px 30px 5px 0px;
}

.grid-view table tr.even
{
    background: #F8F8F8;
}

.grid-view table tr.selected
{
    background: #BCE774;
}

.grid-view table tr:hover.selected
{
    background: #CCFF66;
}

.grid-view table tbody tr:hover
{
    background: #ECFBD4;
}

.grid-view .link-column img
{
    border: 0;
}

.grid-view .button-column
{
    text-align: center;
    width: 60px;
}

.grid-view .button-column img
{
    border: 0;
}

.grid-view .checkbox-column
{
    width: 15px;
}

.grid-view .summary
{
    margin: 0 0 5px 0;
    text-align: right;
}

.grid-view .pager
{
    margin: 5px 0 0 0;
    text-align: right;
}

.grid-view .empty
{
    font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
    width: 100%;
    border: 1px solid #ccc;
}
/*****Grid View*****/
/*****Create Test Page,Create Question page*****/
.th-test-from,.th-question-form,.th-answer-form,.th-appoint-form {
    max-width: 100%;
    width: auto;
}
.first-header {
    font-weight: 700;
    padding-left: 5px;
}
.test-fields,.test-question-fields,.test-answer-fields,.appoint-fields, .row-fluid {
    background-color: #F3F3F3;
    padding: 10px 20px 10px 10px;
    border-radius: 6px;
    border: 10px solid #829DB2;
    margin-top: 30px;
}
div,form .row {
    margin: 1px 0;
}
label.control-label:after {
    content: "*";
    color: red;
}
div.test-form-hint {
    display: flex !important;
    color: #777;
    display: block;
    font-size: 11px;
    font-style: italic;
}
div.th-test-form input[type="text"], div.th-test-form select,div.th-question-form input[type="text"],div.th-question-form select {
    margin: 1em 0 0.5em 0;
    width: 26%;
    min-width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 6px;
}
label.control-label.select-label {
    margin-bottom: 10px;
}
.test-form-label {
    display: flex !important;
}
.answer-option-bar {
    list-style: none !important;
    margin: 0 !important;
    padding: 11px 0 0 0 !important;
}
.answer-option-bar, .answer-option-bar li {
    display: inline-block;
    vertical-align: top;
}
/*****Create Test Page*****/
.question-creator {
    border-radius: 6px;
    background-color: #405565;
    width: 100%;
    height: 60px;
}
.test-create-wrapper, .question-creator {
    margin-top: 25px;
}
form select.question-drop-list {
    margin: 1.4em 0 0 1em;
    display: inline-block;
}
.add-question-button {
    float: right;
    margin: 0.25em 0.25em 0 0;
    color: #fff;
}
/*****Create Question page*****/
#login-form input[type="email"],#login-form input[type="password"],div.th-test-from input[type="text"],div.th-register-from input[type="password"],div.th-register-from input[type="email"],div.th-register-from input[type="text"],div.th-test-from textarea.questionField,.question-answer input[type="text"],.question-answer input[type="number"]
{
	margin: 1em 0 0.5em 0;
	width: 26%;
	min-width: 252px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px 6px;
}
select.form-control {
    width: 26%;
}
.question-counter a {
    text-decoration: none;
    color: #fff;
}
.question-header {
    padding-bottom: 10px;
}
.delete-question-button {
    float: right;
}
.delete-question-button, .question-counter {
    display: inline-block;
}

.question-counter {
    background-color: #405565;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
}
.question-counter, .create-question-header {
    font-size: 18px;
    font-family: inherit;
    font-weight: 500;
}
/*****Create Question page*****/
/*****Menu*****/
.navbar-nav li.menu{
    padding: 3% 0;
}
/*****Menu*****/
td {
    text-align: left;
}