html,
body {
    height: 100%;
    background-color: #eee;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    background-color: transparent;
}

.th-jumbotron {
    background-color: white;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/*****Grid View*****/
.grid-view
{
    padding: 15px 0;
}
.grid-view table th, .grid-view table td
{
    font-size: 0.9em;
    border: 1px white solid;
    padding: 0.3em;
    border-radius: 6px;
    height: 40px;
}
.grid-view table th
{
    color: #fff;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
    background: #ff9251;
    text-align: center;
}
.grid-view table th a
{
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}
.grid-view table th a:hover
{
    color: #FFF;
}

.grid-view table th a.asc, .grid-view table th a.desc
{
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 5px 30px 5px 0px;
}

.grid-view table tr.even
{
    background: #F8F8F8;
}

.grid-view table tr.selected
{
    background: #BCE774;
}

.grid-view table tr:hover.selected
{
    background: #CCFF66;
}

.grid-view table tbody tr:hover
{
    background: #ECFBD4;
}

.grid-view .link-column img
{
    border: 0;
}

.grid-view .button-column
{
    text-align: center;
    width: 60px;
}

.grid-view .button-column img
{
    border: 0;
}

.grid-view .checkbox-column
{
    width: 15px;
}

.grid-view .summary
{
    margin: 0 0 5px 0;
    text-align: right;
}

.grid-view .pager
{
    margin: 5px 0 0 0;
    text-align: right;
}

.grid-view .empty
{
    font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
    width: 100%;
    border: 1px solid #ccc;
}
/*****Grid View*****/
/*****Tests Passing page*****/
.first-header {
    text-transform: uppercase;
}
.question-text,.question-number {
    font-size: 18px !important;
}
.answer-buttons-container {
    /*margin-top: 20px;*/
}
.answer-buttons-container button + a {
    margin-left: 5px;
}
.question-answer {
    padding: 2em;
}
.test-countdown-clock {
    display: block;
    float: right;
    font-size: 20px;
}
.end-test-button {
    background: #ff9251;
    line-height: 26px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border:none;
}
.end-test-button:hover {
    background: #E58349;
}
.end-test-button:active {
    position: relative;
}
.question-anchor, .test-question-counter {
    width: 30px;
    font-size: 13px;
    padding: 5px 0;
    border: 1px solid rgba(0, 0, 0, .2);
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    color: rgba(0, 0, 0, .7) !important;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
    background: #fff;
}
.test-question-counter {
    width: 50px;
}
.field-usersanswers-question_id ,.field-usersanswers-questionnumber,.field-usersanswers-scenario {
    display: none;
}
.answer-question-form {
    height: 100vh;
}
/*****Tests Passing page*****/
/*****Menu*****/
.navbar-nav li.menu{
    padding: 3% 0;
}
/*****Menu*****/
